.App {
  margin: 10px auto;
  text-align: center;
}
.list-container {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 20%;
  margin: auto;
}

.list-container .list-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.list-container.pagination-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.list-container.pagination-container .pagination-item {
  cursor: pointer;
  color: blue;
}

.list-container.pagination-container .pagination-item.disable {
  cursor: default;
  color: black;
}

.list-container .list-item .actions-container {
  display: flex;
}

.list-container .list-item .actions-container .favourite,
.list-container .list-item .actions-container .delete {
  background: transparent;
  border: 1px solid gray;
  box-shadow: none;
  color: transparent;
  -webkit-text-stroke: 1px gray;
  margin: 0 5px;
}

.list-container .list-item .actions-container .favourite.active {
  color: gray;
}

.items-per-page-wrapper {
  max-width: 20%;
  margin: auto;
}

.items-per-page-wrapper .items-per-page-select {
  float: right;
}
